
<div class="row">
    <div class="col-3">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
            
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-3">
        <select>
            <option *ngFor="let emp of employeeArray" [value]="emp.id">{{emp.name}} - {{emp.position}}</option>
        </select>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>Position</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employeeArray; let srno=index">
                    <td>{{srno+1}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.position}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>