<div class="row">
    <div class="col-3">
        <div class="bg-success p-3 " *ngIf="divVisible">
            Div 1
        </div>
    </div>
    <div class="col-3">
        <div class="bg-primary p-3 " *ngIf="number1==number2">
            Div 2
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-3">
        <button class="btn btn-danger" (click)="hideDiv1()">Hide Div</button>
        <button class="btn btn-success mx-3" (click)="showDiv1()">Show Div</button>
    </div>
    <div class="col-3">
        <input [(ngModel)]="number1" />
        <input [(ngModel)]="number2" />
        {{number1==number2}}
    </div>
</div>